*{
  box-sizing: border-box;
}

html{
	font-size: 62.5%;
}
body{
	margin: 0;
}

.preload{
	height: 100%;
	width: 100%;
	background-color: #f2f0f4;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	text-align: center;
	.logo{
		margin: 15rem auto 5rem auto;
	}
	.loader-frame{
			position: relative;
			width: 7.5rem;
			height: 7.5rem;
			margin: auto;
			
		
	}
	.loader1, .loader2{
			position: absolute;
			border: 0.5rem solid transparent;
			border-radius: 50%;

		}
		.loader1{
			height: 7rem;
			width: 7rem;
			border-top: 0.5rem solid #8d81ac;
			border-bottom: 0.5rem solid #8d81ac;
			animation: clockwisespin 2s linear 3;
			top: 0;
			left:0;
		}
		.loader2{
			height: 6rem;
			width: 6rem;
			border-left: 0.5rem solid #333333;
			border-right: 0.5rem solid #333333;
			top: 0.5rem;
			left: 0.5rem;
			animation: anticlockwisespin 2s linear 3;

		}
}

.top{
	height: 10.4rem;
	width: 100%;
	padding: 2rem 13.5rem;
	position: relative;
	

	h3{
		display: inline-block;
		font-family: 'Lato';
		font-size: 2.4rem;
		
	}
	.list{
		position: relative;
		width: 48.8rem;
		display: inline-block;
		padding: 2rem 0;
		float: right;


		ul{
		margin: 0;
		padding-left: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style-type:none;
		font-family: 'Montserrat';	
		a{
			text-decoration: none;
			color: #635c73;
		}
	}
	}
	button{
		position: relative;
		float: right;
		top: 50%;
		margin-top: -1.9rem;
		margin-left: 3.5rem;
		color: white;
		border: none;
		font-family: 'Montserrat';
		background-color: #8d81ac;
		border-radius: 1.8rem;
		width: 14.5rem;
		height: 3.8rem;
		font-size: 1.6rem;
		
	}

}





.image{
	background-image: url("imgs/img.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 80rem;
	position: relative;
	
	.headers{
		width: 100%;
		padding-top: 10.8rem;		
		text-align: center;
		h1{
			color: white;
			margin: 0;
			font-size: 8.2rem;
			font-family: "Montserrat";
		}
		p{
			font-family: "Lato";
		}
		.medium{
			color: #8d81ac;
			font-size: 3rem;
		}
		.small{
			color: #848e97;
			font-size: 1.6rem;
		}

	}
	.btn-download{
		position: absolute;
		width: 39rem;
		height: 6.2rem;
		color: white;
		border: none;
		font-family: 'Montserrat';
		background-color: #8d81ac;
		border-radius: 3rem;
		font-size: 2.1rem;
		bottom: -3.1rem;
		left: 50%;
		margin-left: -19.5rem;
		
	}
	
	
}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	height: 8rem;
	padding: 0;
	background-color: white;
	width: 100%;
	opacity: 1;
	z-index: 1;
	transition: 1s;
}
.menu-bottom{
		text-align: center;
		margin: 7rem 0;	
		.wrapper-bottom{
			padding: 0 25.2rem;
		}
		.little-text{
			color: #848e97;
			font-family: Montserrat;
			font-size: 1.4rem;
			line-height: 1.5rem;
		}
		.revolutionary{
			height: 14.5rem;
			padding-top: 6.6rem;
			h1{
			line-height: 2rem;
			color: #635c73;
			font-family: Montserrat;
			font-size: 5.4rem;
			line-height: 2rem;
			
			}
		}
		
		.description{
			color: #323232;
			font-family: "Source Sans Pro";
			font-size: 2.1rem;

		}
		.icons-list{
			margin-top: 6.6rem;
			ul{
			list-style-type:none;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			a{
				text-decoration: none;
				color: black;
				font-size: 5rem;
			}
		}
		}
	}

	.subscription{
		
		text-align: center;
		background-color: #4b3b4e;

		
		.recognitions{
				height: 74.6rem;
				background-image: url('imgs/layer-1.png');
				background-position: center;
				background-repeat: no-repeat;
				padding: 0 14rem;

				.heading-subs{
					  height: 23.6rem;
			
   					  display:table;
    				  width:100%;
					h1{
						display: table-cell;
						vertical-align: middle;
						
						color: #ffffff;
						font-family: Montserrat;
						font-size: 4.8rem;
						margin: 0;
					
					
						}
				}
			.blocks{
				
				.img-wrapper{
					height: 10rem;
					line-height: 10rem;
					display: inline-block;
				}
				p{
					text-align: center;
					color: #ffffff;
					font-family: "Source Sans Pro";
					font-size: 1.6rem;
					line-height: 2.4rem;
				}
			}
			.underline{
				display: inline-block;
				margin-top: 5rem;
				width: 75%;
				height: 0.1rem;
				opacity: 0.2;
				background-color: #c7c7c7;
			}
		
		}

		.pricing{
			height: 100rem;
			background-color: #4b3b4e;
			background-image: url('imgs/layer-2.png');
			background-position: cover;
			background-repeat: no-repeat;
			
			.heading-subs{
					  height: 23.6rem;
			
   					  display:table;
    				  width:100%;
    				  
					h1{
						display: table-cell;
						vertical-align: middle;
						
						color: #ffffff;
						font-family: Montserrat;
						font-size: 4.8rem;
						margin: 0;
					
					
						}
				}
			.pricing-inner{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				margin-bottom: 17rem;
					.offer{
					margin: 0 1rem;
					width: 20%;
					height: 46rem;
					background-color: rgba(255, 255, 255, 0.11);
					.tittle-offer{
						display:table;
    				  	width:100%;
						height: 10rem;
						background-color: rgba(255, 255, 255, 0.06);
						h3{
							display: table-cell;
							vertical-align: middle;
							color: #ffffff;
							font-family: Montserrat;
							font-size: 2.4rem;
						}
					}
					.price{
						height: 13rem;
						h1{
							margin: 3rem 0 2.5rem 0;
							color: #ffffff;
							font-family: Montserrat;
							font-size: 6rem;
						}
						p{
							opacity: 0.3;
							color: #ffffff;
							font-family: Montserrat;
							font-size: 1.4rem;
						}
					}

					.under{
						

						div{
							display: inline-block;
							height: 0.5rem;
							width: 23%;
							background-color: #8d81ac;

					}
					}
					.descr{
						height: 6rem;
						margin-top: 2.5rem;
						color: #ffffff;
						font-family: Montserrat;
						font-size: 1.6rem;
						line-height: 2.8rem;
					}
					.btn-buy{
						margin: 3rem 0;
						button{
							width: 16rem;
							height: 4.2rem;
							font-size: 1.5rem;
							border: none;
							color: #ffffff;
							font-family: 'Montserrat';
							background-color: rgba(255, 255, 255, 0.15);
							border-radius: 3rem;
						}
					} 
				}

			}

			.pricing-footer{
				padding: 0 15%;
				opacity: 0.8;
				color: #a291a5;
				font-family: "Source Sans Pro";
				font-size: 1.4rem;
				line-height: 2.1rem;
			}
			
		}

	}
	.blur{
		filter: blur(5px);
  		-webkit-filter: blur(5px);
	}
	.disappear{
		display: none;
	}
	.container{
		position:fixed;
		top: 50%;
		margin-top: -25rem;
		left: 50%;
		margin-left: -25rem;
		width: 50rem;
		height: 50rem;
		background-color: #5d517b;
		border-radius: 3rem;
		font-family: 'Montserrat';
		color: white;
		text-align: center;
		z-index: 2;
		-webkit-box-shadow: -4px 10px 49px 23px rgba(0,0,0,0.75);
		-moz-box-shadow: -4px 10px 49px 23px rgba(0,0,0,0.75);
		box-shadow: -4px 10px 49px 23px rgba(0,0,0,0.75);
		.quit{
			position: absolute;
			font-size: 1.8rem;
			display: inline-block;
			right: -0.5rem;
			top: -0.4rem;
			button{

				height: 3rem;
				width: 3rem;
				border-radius: 100%;
				border: 2px solid;
				background-color: #3a324d;
			}

		}
		h1{
			font-size: 5rem;
			margin-bottom: 5rem;
		}
		.checkbox{
			text-align: left;
			padding-left: 4rem;
			margin-top: 3rem;
		}
		.btn-primary{

			margin-top: 4rem;
			display: inline-block;
			width: 25rem;
			height: 8.4rem;
			font-size: 3rem;
			border: none;
			color: #ffffff;
			font-family: 'Montserrat';
			background-color: #8d81ac;
			border-radius: 3rem;
		}
	}

	.slider-section{
		height: 60rem;
		background-color: white;
		text-align: center;
		font-family: 'Montserrat';
		
		.slider{
			padding: 17rem 0;
			position: relative;
			.minus{
				position: absolute;
				top: 29.2rem;
				left: 10rem;
			}
			.plus{
				position: absolute;
				top: 29.2rem;
				right: 10rem;
			}
			.one-slide{
				div{
					display: inline-block;
					h3{
						margin: 0;
					}
				}
				p{
					padding: 0 15%;
					font-family: "Source Sans Pro";
					font-size: 2rem;
					line-height: 3.2rem;
					color: #333333;
				}
				footer p{
					color: #848e97;
					font-family: Montserrat;
					font-size: 1.6rem;
					line-height: 3.2rem;
				}
			}
		}
		

	}

	//other

	@media screen and(max-width: 1100px){
		.top{
			padding: 2rem;

		}

		
	}
	@keyframes clockwisespin{
		from{transform: rotate(0deg);}
		to{transform: rotate(360deg);}
	}
	@keyframes anticlockwisespin{
		from{transform: rotate(0deg);}
		to{transform: rotate(-360deg);}
	}

	



   
.features {
  // padding-top: 8.4rem;
  height: 76.1rem;
  .container-fluid {
    padding-top: 8.4rem;
    background-color: #f4f4f4;
    .block{
      .images {
        float: left;
        width: 20%;
        margin-top: 1.8rem;
        margin-left: 10%;
      } 
      .some-text {
        float: left;
        width: 55%;
        margin-left: 5%;
        h3 {
          margin-top: 1.8rem;
          margin-bottom: 1.5rem;
          color: #323232;
          font-family: Montserrat;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.1rem;
        }
        p {
          margin-bottom: 1.7rem;
          color: #848e97;
          font-family: Montserrat;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 2.1rem;
        }
      }
      .clearfix{
        clear: both;
      }
    }
    .block3 {
      .some-text {
        p {
          margin-bottom: 1.2rem;
        }
      }
    }
    .block4 {
      .images {
        margin-top: 1.2rem;
      }
      .some-text {
        h3 {
          margin-top: 1.2rem;
        }
      }
    }
    .hide-link {
      color: #323232;
      font-family: Montserrat;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      margin: 0 0 0 36%;
      opacity: 0;
    }    
    .col2 {
      padding: 0;
      position: relative;
      h2 {     
        color: #8d81ac;
        font-family: Montserrat;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 2rem;
      }
      .editor {
        box-shadow: 0 0 2.5rem rgba(0, 5, 5, 0.3);
        border-radius: 0.5rem;
        background-color: #2b2d2e;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(71, 72, 68, 0) 100%);
        opacity: 0.95;
        width: 100%;
        height: 58rem;
        position: absolute;
        bottom: -63rem;
        .slider {
          position: absolute;
          top: 2.4rem;
          left: 3rem;
        }
        .hello {
          color: #c7c7c7;
          font-family: Montserrat;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5rem;
          display: inline-block;
          position: absolute;
          top: 2.6rem;
          right: 9.6rem;
        }
        .files {
          position: absolute;
          top: 8.7rem;
          left: 3rem;
          font-family: Montserrat;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5rem;
          /* Text style for "index, mai" */
          color: #ffffff;
          span{
            /* Text style for ".html , .h" */
            color: #c7c7c7;
          }
        }
        .code {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}


.subscribe {
  height: 13.4rem;
  background-color: #f4f4f4;
  padding: 0 10%;
  h2 {
    display: inline-block;
    width: 50%;
    color: #635c73;
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 700;
    line-height: 6rem;
    margin: 0;
  }
  form {
    display: inline-block;
    width: 50%;
    line-height: 13.4rem;
    .email {
      width: 33.5rem;
      height: 4.2rem;
      border-radius: 2.1rem;
      background-color: #ffffff;
      border: none;
      color: #c8cbcf;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7rem;
      padding-left: 2.8rem;
      margin-right: 1rem;
    }
    .sub-button {
      width: 14rem;
      height: 4.2rem;
      border-radius: 2.1rem;
      background-color: #8d81ac;
      border: none;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.7rem;
      text-transform: uppercase;
    }
  }
  @media screen and (max-width: 1230px){
    height: 150%;
    h2, form {
    width: 100%;
    }
  }
}


.links {
  .container-fluid {
    height: 70.9rem;
    padding: 7.9rem 10% 5.7rem 10%;
    .col {
      margin-bottom: 4rem;
      h2 {
        color: #d3d1da;
        font-family: Montserrat;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 3.2rem;
        margin-top: 0;
        margin-bottom: 3.5rem;
      }
      article {
        h3 {
          margin-top: 1.5rem;
          margin-bottom: 0.8rem;
          a {
            color: #8d81ac;
            font-family: Montserrat;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.6rem;
          }
        }
        p {
          color: #848e97;
          font-family: Montserrat;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 2.1rem;
        }
      }
      .new-release {
        a {
          color: #323232;
        }
      }
      button {
        margin-top: 2.5rem;
        height: 3.5rem;
        border-radius: 0.4rem;
        background-color: #f4f4f4;
        border: none;
        color: #8d81ac;
        font-family: Montserrat;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.6rem;
      }
      .release-button {
        width: 15.8rem;
      }
      .extensions-button {
        width: 16.4rem;
      }
      .blog-button {
        width: 11.3rem;
        border-radius: 0.3rem;
      }  
    }
  }
}



.main-footer {
  height: 32.9rem;
  background-color: #ffffff;
  padding: 1.3rem 10%;
  .sep {
    height: 0.1rem;
    background-color: #c7c7c7;
    opacity: 0.2;
  }
  .logo {
    padding-right: 7%;
    img {
      margin: 6.5rem 0 2rem 0;
    }
    p {
      color: #848e97;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.1rem;
    }  
  }
  .nav{
    margin-top: 4rem;
    h3 {
      color: #323232;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.8rem;
    }
    .nav-list {
      padding-left: 0;
      list-style: none;
      a {
        color: #8d81ac;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.3rem;
        // text-decoration: none;
        // cursor: pointer;
      }
    }
  }
  .contact {
    margin-top: 4rem;
    h2 {
      color: #3f3f3f;
      font-family: Montserrat;
      font-size: 3rem;
      font-weight: 700;
      line-height: 2.8rem;
    }
    .call-hours {
      color: #848e97;
      font-family: Montserrat;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.8rem;
      text-transform: uppercase;
    }
    h3 {
      color: #323232;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.8rem;
    }
    .address {
      color: #848e97;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.3rem;
    }
  }
  .info {
    margin-top: 4rem;
    h3 {
      color: #323232;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.8rem;
    }
    p {
      color: #848e97;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.3rem;
    }
  }
}