* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0; }

.preload {
  height: 100%;
  width: 100%;
  background-color: #f2f0f4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center; }
  .preload .logo {
    margin: 15rem auto 5rem auto; }
  .preload .loader-frame {
    position: relative;
    width: 7.5rem;
    height: 7.5rem;
    margin: auto; }
  .preload .loader1, .preload .loader2 {
    position: absolute;
    border: 0.5rem solid transparent;
    border-radius: 50%; }
  .preload .loader1 {
    height: 7rem;
    width: 7rem;
    border-top: 0.5rem solid #8d81ac;
    border-bottom: 0.5rem solid #8d81ac;
    animation: clockwisespin 2s linear 3;
    top: 0;
    left: 0; }
  .preload .loader2 {
    height: 6rem;
    width: 6rem;
    border-left: 0.5rem solid #333333;
    border-right: 0.5rem solid #333333;
    top: 0.5rem;
    left: 0.5rem;
    animation: anticlockwisespin 2s linear 3; }

.top {
  height: 10.4rem;
  width: 100%;
  padding: 2rem 13.5rem;
  position: relative; }
  .top h3 {
    display: inline-block;
    font-family: 'Lato';
    font-size: 2.4rem; }
  .top .list {
    position: relative;
    width: 48.8rem;
    display: inline-block;
    padding: 2rem 0;
    float: right; }
    .top .list ul {
      margin: 0;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style-type: none;
      font-family: 'Montserrat'; }
      .top .list ul a {
        text-decoration: none;
        color: #635c73; }
  .top button {
    position: relative;
    float: right;
    top: 50%;
    margin-top: -1.9rem;
    margin-left: 3.5rem;
    color: white;
    border: none;
    font-family: 'Montserrat';
    background-color: #8d81ac;
    border-radius: 1.8rem;
    width: 14.5rem;
    height: 3.8rem;
    font-size: 1.6rem; }

.image {
  background-image: url("imgs/img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80rem;
  position: relative; }
  .image .headers {
    width: 100%;
    padding-top: 10.8rem;
    text-align: center; }
    .image .headers h1 {
      color: white;
      margin: 0;
      font-size: 8.2rem;
      font-family: "Montserrat"; }
    .image .headers p {
      font-family: "Lato"; }
    .image .headers .medium {
      color: #8d81ac;
      font-size: 3rem; }
    .image .headers .small {
      color: #848e97;
      font-size: 1.6rem; }
  .image .btn-download {
    position: absolute;
    width: 39rem;
    height: 6.2rem;
    color: white;
    border: none;
    font-family: 'Montserrat';
    background-color: #8d81ac;
    border-radius: 3rem;
    font-size: 2.1rem;
    bottom: -3.1rem;
    left: 50%;
    margin-left: -19.5rem; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  padding: 0;
  background-color: white;
  width: 100%;
  opacity: 1;
  z-index: 1;
  transition: 1s; }

.menu-bottom {
  text-align: center;
  margin: 7rem 0; }
  .menu-bottom .wrapper-bottom {
    padding: 0 25.2rem; }
  .menu-bottom .little-text {
    color: #848e97;
    font-family: Montserrat;
    font-size: 1.4rem;
    line-height: 1.5rem; }
  .menu-bottom .revolutionary {
    height: 14.5rem;
    padding-top: 6.6rem; }
    .menu-bottom .revolutionary h1 {
      line-height: 2rem;
      color: #635c73;
      font-family: Montserrat;
      font-size: 5.4rem;
      line-height: 2rem; }
  .menu-bottom .description {
    color: #323232;
    font-family: "Source Sans Pro";
    font-size: 2.1rem; }
  .menu-bottom .icons-list {
    margin-top: 6.6rem; }
    .menu-bottom .icons-list ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .menu-bottom .icons-list ul a {
        text-decoration: none;
        color: black;
        font-size: 5rem; }

.subscription {
  text-align: center;
  background-color: #4b3b4e; }
  .subscription .recognitions {
    height: 74.6rem;
    background-image: url("imgs/layer-1.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 14rem; }
    .subscription .recognitions .heading-subs {
      height: 23.6rem;
      display: table;
      width: 100%; }
      .subscription .recognitions .heading-subs h1 {
        display: table-cell;
        vertical-align: middle;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 4.8rem;
        margin: 0; }
    .subscription .recognitions .blocks .img-wrapper {
      height: 10rem;
      line-height: 10rem;
      display: inline-block; }
    .subscription .recognitions .blocks p {
      text-align: center;
      color: #ffffff;
      font-family: "Source Sans Pro";
      font-size: 1.6rem;
      line-height: 2.4rem; }
    .subscription .recognitions .underline {
      display: inline-block;
      margin-top: 5rem;
      width: 75%;
      height: 0.1rem;
      opacity: 0.2;
      background-color: #c7c7c7; }
  .subscription .pricing {
    height: 100rem;
    background-color: #4b3b4e;
    background-image: url("imgs/layer-2.png");
    background-position: cover;
    background-repeat: no-repeat; }
    .subscription .pricing .heading-subs {
      height: 23.6rem;
      display: table;
      width: 100%; }
      .subscription .pricing .heading-subs h1 {
        display: table-cell;
        vertical-align: middle;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 4.8rem;
        margin: 0; }
    .subscription .pricing .pricing-inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 17rem; }
      .subscription .pricing .pricing-inner .offer {
        margin: 0 1rem;
        width: 20%;
        height: 46rem;
        background-color: rgba(255, 255, 255, 0.11); }
        .subscription .pricing .pricing-inner .offer .tittle-offer {
          display: table;
          width: 100%;
          height: 10rem;
          background-color: rgba(255, 255, 255, 0.06); }
          .subscription .pricing .pricing-inner .offer .tittle-offer h3 {
            display: table-cell;
            vertical-align: middle;
            color: #ffffff;
            font-family: Montserrat;
            font-size: 2.4rem; }
        .subscription .pricing .pricing-inner .offer .price {
          height: 13rem; }
          .subscription .pricing .pricing-inner .offer .price h1 {
            margin: 3rem 0 2.5rem 0;
            color: #ffffff;
            font-family: Montserrat;
            font-size: 6rem; }
          .subscription .pricing .pricing-inner .offer .price p {
            opacity: 0.3;
            color: #ffffff;
            font-family: Montserrat;
            font-size: 1.4rem; }
        .subscription .pricing .pricing-inner .offer .under div {
          display: inline-block;
          height: 0.5rem;
          width: 23%;
          background-color: #8d81ac; }
        .subscription .pricing .pricing-inner .offer .descr {
          height: 6rem;
          margin-top: 2.5rem;
          color: #ffffff;
          font-family: Montserrat;
          font-size: 1.6rem;
          line-height: 2.8rem; }
        .subscription .pricing .pricing-inner .offer .btn-buy {
          margin: 3rem 0; }
          .subscription .pricing .pricing-inner .offer .btn-buy button {
            width: 16rem;
            height: 4.2rem;
            font-size: 1.5rem;
            border: none;
            color: #ffffff;
            font-family: 'Montserrat';
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 3rem; }
    .subscription .pricing .pricing-footer {
      padding: 0 15%;
      opacity: 0.8;
      color: #a291a5;
      font-family: "Source Sans Pro";
      font-size: 1.4rem;
      line-height: 2.1rem; }

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px); }

.disappear {
  display: none; }

.container {
  position: fixed;
  top: 50%;
  margin-top: -25rem;
  left: 50%;
  margin-left: -25rem;
  width: 50rem;
  height: 50rem;
  background-color: #5d517b;
  border-radius: 3rem;
  font-family: 'Montserrat';
  color: white;
  text-align: center;
  z-index: 2;
  -webkit-box-shadow: -4px 10px 49px 23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 10px 49px 23px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 10px 49px 23px rgba(0, 0, 0, 0.75); }
  .container .quit {
    position: absolute;
    font-size: 1.8rem;
    display: inline-block;
    right: -0.5rem;
    top: -0.4rem; }
    .container .quit button {
      height: 3rem;
      width: 3rem;
      border-radius: 100%;
      border: 2px solid;
      background-color: #3a324d; }
  .container h1 {
    font-size: 5rem;
    margin-bottom: 5rem; }
  .container .checkbox {
    text-align: left;
    padding-left: 4rem;
    margin-top: 3rem; }
  .container .btn-primary {
    margin-top: 4rem;
    display: inline-block;
    width: 25rem;
    height: 8.4rem;
    font-size: 3rem;
    border: none;
    color: #ffffff;
    font-family: 'Montserrat';
    background-color: #8d81ac;
    border-radius: 3rem; }

.slider-section {
  height: 60rem;
  background-color: white;
  text-align: center;
  font-family: 'Montserrat'; }
  .slider-section .slider {
    padding: 17rem 0;
    position: relative; }
    .slider-section .slider .minus {
      position: absolute;
      top: 29.2rem;
      left: 10rem; }
    .slider-section .slider .plus {
      position: absolute;
      top: 29.2rem;
      right: 10rem; }
    .slider-section .slider .one-slide div {
      display: inline-block; }
      .slider-section .slider .one-slide div h3 {
        margin: 0; }
    .slider-section .slider .one-slide p {
      padding: 0 15%;
      font-family: "Source Sans Pro";
      font-size: 2rem;
      line-height: 3.2rem;
      color: #333333; }
    .slider-section .slider .one-slide footer p {
      color: #848e97;
      font-family: Montserrat;
      font-size: 1.6rem;
      line-height: 3.2rem; }

@media screen and (max-width: 1100px) {
  .top {
    padding: 2rem; } }
@keyframes clockwisespin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes anticlockwisespin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }
.features {
  height: 76.1rem; }
  .features .container-fluid {
    padding-top: 8.4rem;
    background-color: #f4f4f4; }
    .features .container-fluid .block .images {
      float: left;
      width: 20%;
      margin-top: 1.8rem;
      margin-left: 10%; }
    .features .container-fluid .block .some-text {
      float: left;
      width: 55%;
      margin-left: 5%; }
      .features .container-fluid .block .some-text h3 {
        margin-top: 1.8rem;
        margin-bottom: 1.5rem;
        color: #323232;
        font-family: Montserrat;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.1rem; }
      .features .container-fluid .block .some-text p {
        margin-bottom: 1.7rem;
        color: #848e97;
        font-family: Montserrat;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.1rem; }
    .features .container-fluid .block .clearfix {
      clear: both; }
    .features .container-fluid .block3 .some-text p {
      margin-bottom: 1.2rem; }
    .features .container-fluid .block4 .images {
      margin-top: 1.2rem; }
    .features .container-fluid .block4 .some-text h3 {
      margin-top: 1.2rem; }
    .features .container-fluid .hide-link {
      color: #323232;
      font-family: Montserrat;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      margin: 0 0 0 36%;
      opacity: 0; }
    .features .container-fluid .col2 {
      padding: 0;
      position: relative; }
      .features .container-fluid .col2 h2 {
        color: #8d81ac;
        font-family: Montserrat;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 2rem; }
      .features .container-fluid .col2 .editor {
        box-shadow: 0 0 2.5rem rgba(0, 5, 5, 0.3);
        border-radius: 0.5rem;
        background-color: #2b2d2e;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(71, 72, 68, 0) 100%);
        opacity: 0.95;
        width: 100%;
        height: 58rem;
        position: absolute;
        bottom: -63rem; }
        .features .container-fluid .col2 .editor .slider {
          position: absolute;
          top: 2.4rem;
          left: 3rem; }
        .features .container-fluid .col2 .editor .hello {
          color: #c7c7c7;
          font-family: Montserrat;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5rem;
          display: inline-block;
          position: absolute;
          top: 2.6rem;
          right: 9.6rem; }
        .features .container-fluid .col2 .editor .files {
          position: absolute;
          top: 8.7rem;
          left: 3rem;
          font-family: Montserrat;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5rem;
          /* Text style for "index, mai" */
          color: #ffffff; }
          .features .container-fluid .col2 .editor .files span {
            /* Text style for ".html , .h" */
            color: #c7c7c7; }
        .features .container-fluid .col2 .editor .code {
          position: absolute;
          bottom: 0;
          right: 0; }

.subscribe {
  height: 13.4rem;
  background-color: #f4f4f4;
  padding: 0 10%; }
  .subscribe h2 {
    display: inline-block;
    width: 50%;
    color: #635c73;
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 700;
    line-height: 6rem;
    margin: 0; }
  .subscribe form {
    display: inline-block;
    width: 50%;
    line-height: 13.4rem; }
    .subscribe form .email {
      width: 33.5rem;
      height: 4.2rem;
      border-radius: 2.1rem;
      background-color: #ffffff;
      border: none;
      color: #c8cbcf;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7rem;
      padding-left: 2.8rem;
      margin-right: 1rem; }
    .subscribe form .sub-button {
      width: 14rem;
      height: 4.2rem;
      border-radius: 2.1rem;
      background-color: #8d81ac;
      border: none;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.7rem;
      text-transform: uppercase; }
  @media screen and (max-width: 1230px) {
    .subscribe {
      height: 150%; }
      .subscribe h2, .subscribe form {
        width: 100%; } }

.links .container-fluid {
  height: 70.9rem;
  padding: 7.9rem 10% 5.7rem 10%; }
  .links .container-fluid .col {
    margin-bottom: 4rem; }
    .links .container-fluid .col h2 {
      color: #d3d1da;
      font-family: Montserrat;
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 3.2rem;
      margin-top: 0;
      margin-bottom: 3.5rem; }
    .links .container-fluid .col article h3 {
      margin-top: 1.5rem;
      margin-bottom: 0.8rem; }
      .links .container-fluid .col article h3 a {
        color: #8d81ac;
        font-family: Montserrat;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.6rem; }
    .links .container-fluid .col article p {
      color: #848e97;
      font-family: Montserrat;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 2.1rem; }
    .links .container-fluid .col .new-release a {
      color: #323232; }
    .links .container-fluid .col button {
      margin-top: 2.5rem;
      height: 3.5rem;
      border-radius: 0.4rem;
      background-color: #f4f4f4;
      border: none;
      color: #8d81ac;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.6rem; }
    .links .container-fluid .col .release-button {
      width: 15.8rem; }
    .links .container-fluid .col .extensions-button {
      width: 16.4rem; }
    .links .container-fluid .col .blog-button {
      width: 11.3rem;
      border-radius: 0.3rem; }

.main-footer {
  height: 32.9rem;
  background-color: #ffffff;
  padding: 1.3rem 10%; }
  .main-footer .sep {
    height: 0.1rem;
    background-color: #c7c7c7;
    opacity: 0.2; }
  .main-footer .logo {
    padding-right: 7%; }
    .main-footer .logo img {
      margin: 6.5rem 0 2rem 0; }
    .main-footer .logo p {
      color: #848e97;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.1rem; }
  .main-footer .nav {
    margin-top: 4rem; }
    .main-footer .nav h3 {
      color: #323232;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.8rem; }
    .main-footer .nav .nav-list {
      padding-left: 0;
      list-style: none; }
      .main-footer .nav .nav-list a {
        color: #8d81ac;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.3rem; }
  .main-footer .contact {
    margin-top: 4rem; }
    .main-footer .contact h2 {
      color: #3f3f3f;
      font-family: Montserrat;
      font-size: 3rem;
      font-weight: 700;
      line-height: 2.8rem; }
    .main-footer .contact .call-hours {
      color: #848e97;
      font-family: Montserrat;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.8rem;
      text-transform: uppercase; }
    .main-footer .contact h3 {
      color: #323232;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.8rem; }
    .main-footer .contact .address {
      color: #848e97;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.3rem; }
  .main-footer .info {
    margin-top: 4rem; }
    .main-footer .info h3 {
      color: #323232;
      font-family: Montserrat;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.8rem; }
    .main-footer .info p {
      color: #848e97;
      font-family: Montserrat;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.3rem; }

/*# sourceMappingURL=style.css.map */
